USE [master]
GO
/****** Object:  Database [BongDaSo]    Script Date: 04/12/2020 10:21:01 CH ******/
CREATE DATABASE [BongDaSo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BongDaSo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.THANG\MSSQL\DATA\BongDaSo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BongDaSo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.THANG\MSSQL\DATA\BongDaSo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BongDaSo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BongDaSo]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[id] [int] NOT NULL,
	[id_Giai] [int] NULL,
	[id_DoiBong] [int] NULL,
	[diem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[id] [int] NOT NULL,
	[id_TinTuc] [int] NULL,
	[userID] [int] NULL,
	[ngayDang] [date] NULL,
	[gioDang] [time](7) NULL,
	[noiDung] [text] NULL,
 CONSTRAINT [PK__BinhLuan__3213E83FA346C1F8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiBong]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiBong](
	[id] [int] NOT NULL,
	[tenDoi] [nvarchar](50) NULL,
	[kiHieu] [nvarchar](max) NULL,
 CONSTRAINT [PK__DoiBong__3213E83FDB125511] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaiDau]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaiDau](
	[id] [int] NOT NULL,
	[tenGiai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThiDau]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThiDau](
	[id] [int] NOT NULL,
	[id_Giai] [int] NULL,
	[ngay] [date] NULL,
	[gio] [time](7) NULL,
	[maDoiNha] [int] NULL,
	[maDoiKhach] [int] NULL,
	[diemDoiNha] [int] NULL,
	[diemDoiKhach] [int] NULL,
	[ketQua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTin]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTin](
	[id] [int] NOT NULL,
	[tenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiUser]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiUser](
	[id] [int] NOT NULL,
	[tenLoai] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[id] [int] NOT NULL,
	[title] [ntext] NULL,
	[tomTat] [ntext] NULL,
	[thumb] [ntext] NULL,
	[cover] [ntext] NULL,
	[noiDung] [ntext] NULL,
	[id_User] [int] NULL,
	[ngayDang] [date] NULL,
	[gioDang] [time](7) NULL,
	[luotXem] [int] NULL,
	[doUuTien] [int] NULL,
	[idLoai] [int] NULL,
	[idGiaiDau] [int] NULL,
 CONSTRAINT [PK__TinTuc__3213E83FFED0A19C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] NOT NULL,
	[userName] [varchar](50) NULL,
	[pass] [nvarchar](50) NULL,
	[id_loai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DoiBong] ([id], [tenDoi], [kiHieu]) VALUES (1, N'ManChester United', N'MU')
INSERT [dbo].[DoiBong] ([id], [tenDoi], [kiHieu]) VALUES (2, N'Tottenham', NULL)
INSERT [dbo].[DoiBong] ([id], [tenDoi], [kiHieu]) VALUES (3, N'Liverpool', NULL)
GO
INSERT [dbo].[GiaiDau] ([id], [tenGiai]) VALUES (1, N'Ngoại Hạng Anh')
INSERT [dbo].[GiaiDau] ([id], [tenGiai]) VALUES (2, N'C1')
INSERT [dbo].[GiaiDau] ([id], [tenGiai]) VALUES (3, N'La Liga')
GO
INSERT [dbo].[LichThiDau] ([id], [id_Giai], [ngay], [gio], [maDoiNha], [maDoiKhach], [diemDoiNha], [diemDoiKhach], [ketQua]) VALUES (1, 1, CAST(N'2021-01-01' AS Date), CAST(N'15:00:00' AS Time), 1, 2, -1, -1, 1)
INSERT [dbo].[LichThiDau] ([id], [id_Giai], [ngay], [gio], [maDoiNha], [maDoiKhach], [diemDoiNha], [diemDoiKhach], [ketQua]) VALUES (2, 1, CAST(N'2021-02-01' AS Date), CAST(N'16:00:00' AS Time), 3, 4, 1, 2, 1)
GO
INSERT [dbo].[LoaiTin] ([id], [tenLoai]) VALUES (1, N'Sân cỏ')
INSERT [dbo].[LoaiTin] ([id], [tenLoai]) VALUES (2, N'Hậu trường')
INSERT [dbo].[LoaiTin] ([id], [tenLoai]) VALUES (3, N'Chuyển nhượng')
GO
INSERT [dbo].[LoaiUser] ([id], [tenLoai]) VALUES (1, N'admin')
INSERT [dbo].[LoaiUser] ([id], [tenLoai]) VALUES (2, N'partner')
INSERT [dbo].[LoaiUser] ([id], [tenLoai]) VALUES (3, N'viewer')
GO
INSERT [dbo].[Users] ([id], [userName], [pass], [id_loai]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Users] ([id], [userName], [pass], [id_loai]) VALUES (2, N'partner', N'123', 2)
INSERT [dbo].[Users] ([id], [userName], [pass], [id_loai]) VALUES (3, N'viewer', N'123', 3)
GO
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_thumb]  DEFAULT (N'news_thumbnail3.jpg') FOR [thumb]
GO
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_ngayDang]  DEFAULT (getdate()) FOR [ngayDang]
GO
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_gioDang]  DEFAULT (getdate()) FOR [gioDang]
GO
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_luotXem]  DEFAULT ((0)) FOR [luotXem]
GO
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_doUuTien]  DEFAULT ((0)) FOR [doUuTien]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK_BangDiem_DoiBong] FOREIGN KEY([id_DoiBong])
REFERENCES [dbo].[DoiBong] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK_BangDiem_DoiBong]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK_BangDiem_GiaiDau] FOREIGN KEY([id_Giai])
REFERENCES [dbo].[GiaiDau] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK_BangDiem_GiaiDau]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_TinTuc] FOREIGN KEY([id_TinTuc])
REFERENCES [dbo].[TinTuc] ([id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_TinTuc]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_Users] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_Users]
GO
ALTER TABLE [dbo].[LichThiDau]  WITH CHECK ADD  CONSTRAINT [FK_LichThiDau_DoiBong] FOREIGN KEY([maDoiNha])
REFERENCES [dbo].[DoiBong] ([id])
GO
ALTER TABLE [dbo].[LichThiDau] CHECK CONSTRAINT [FK_LichThiDau_DoiBong]
GO
ALTER TABLE [dbo].[LichThiDau]  WITH CHECK ADD  CONSTRAINT [FK_LichThiDau_DoiBong1] FOREIGN KEY([maDoiKhach])
REFERENCES [dbo].[DoiBong] ([id])
GO
ALTER TABLE [dbo].[LichThiDau] CHECK CONSTRAINT [FK_LichThiDau_DoiBong1]
GO
ALTER TABLE [dbo].[LichThiDau]  WITH CHECK ADD  CONSTRAINT [FK_LichThiDau_GiaiDau] FOREIGN KEY([id_Giai])
REFERENCES [dbo].[GiaiDau] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichThiDau] CHECK CONSTRAINT [FK_LichThiDau_GiaiDau]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_GiaiDau] FOREIGN KEY([idGiaiDau])
REFERENCES [dbo].[GiaiDau] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_GiaiDau]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_LoaiTin] FOREIGN KEY([idLoai])
REFERENCES [dbo].[LoaiTin] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_LoaiTin]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_Users] FOREIGN KEY([id_User])
REFERENCES [dbo].[Users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_LoaiUser] FOREIGN KEY([id_loai])
REFERENCES [dbo].[LoaiUser] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_LoaiUser]
GO
/****** Object:  StoredProcedure [dbo].[Users_Search]    Script Date: 04/12/2020 10:21:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROC [dbo].[Users_Search](
	@user nvarchar(50),
	@pass nvarchar(50)
)
as
begin
	Select * from Users where userName=@user and pass=@pass
end
GO
USE [master]
GO
